<h1>{{ company.name }}</h1>
<h2>Locations</h2>
{{#each company.locations}}
    <article>
        <label>
            Name:
            <span>{{this.name}}</span>
        </label>
        <label>
            Capacity:
            <span>{{this.capacity}}</span>
        </label>
        <label>
            Manager:
            <span>{{this.manager}}</span>
        </label>
    </article>
{{/each}}
{{#each company.menus}}
    <article>
        <label>
            Title:
            <span>{{this.title}}</span>
        </label>
    </article>
{{/each}}